<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body style='display: flex; flex-direction: column'>
    <table
      cellspacing='0'
      border='0'
      cellpadding='0'
      width='100%'
      style="font-family: 'Open Sans', sans-serif; padding: 20px"
    >
      <tbody>
        <tr>
          <td>
            <table
              style='max-width: 670px; margin: 0 auto'
              width='100%'
              border='0'
              align='center'
              cellpadding='0'
              cellspacing='0'
            >
              <tbody>
                <tr>
                  <td style='text-align: right'>
                    <a
                      href='https://u31757777.ct.sendgrid.net/ls/click?upn=xhtkvOztBnPQhToiAiQF9yyYxFXop86pTtazuPeH5-2F4dXxFjsp8mV4Vo-2BBkML3-2B-2BhUEP_-2BQPnmpDCOA2Ods-2FjYJZonLZl02XhgbdTJXpLvyV4p3BWcV-2BktyGwXT3LGgUB0pZ1Np9E20o7fmQbAwiJTM-2BSk93urD4hnbSDi3YR0qIVp8G7s5k2Ap60kvA8NB-2FoObX-2BCV-2BavgqPNmdo4VvDP3pHB4ppPXCGJnBKDKW-2FCOmtDugNeBvscFl2GDwWaUrWxspNcVaX37mCC0K6q1Es0ldzeA-3D-3D'
                      title='logo'
                      target='_blank'
                    >
                      <img
                        src='https://lh4.googleusercontent.com/lQTJMHhmwIeHWOEWLzT4_7a3a7mMMZdEym_1Y5aud2oWl9h7CGazk_cwC5czoNrXMiU=w2400'
                        alt='SEF'
                        style='max-width: 85px; max-height: 85px'
                        height='85'
                        width='85'
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                  <td>
                    <table
                      width='100%'
                      border='0'
                      align='left'
                      cellpadding='0'
                      cellspacing='0'
                      style='
                        max-width: 670px;
                        background: #363738;
                        border-radius: 28px;
                        text-align: left;
                        border: 8px solid rgb(251, 80, 142);
                      '
                    >
                      <tbody>
                        <tr>
                          <td>
                            <div
                              style='
                                overflow: auto;
                                margin-bottom: 0;
                                padding: 24px 24px 0 24px;
                              '
                            >
                              <div style='float: right'>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #fb4747;
                                    border-radius: 50%;
                                    display: inline-block;
                                  '
                                ></div>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #ffc635;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  '
                                ></div>
                                <div
                                  style='
                                    width: 22px;
                                    height: 22px;
                                    background-color: #28eea7;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-left: 5px;
                                  '
                                ></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style='padding: 0 36px 36px 36px'>
                            <h1
                              style='
                                color: #fff;
                                font-weight: 900;
                                margin: 0;
                                font-size: 24px;
                              '
                            >
                              <span
                                style='
                                  color: rgb(251, 80, 142);
                                  margin-right: 10px;
                                '
                              >&gt;</span>
                              Dear applicant,
                            </h1>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 16px;
                                line-height: 24px;
                                margin: 24px 0;
                              '
                            >
                              The SE Factory team would like to thank you for taking the time to go through our demanding selection process and would like to congratulate you on being accepted into our UIX Bootcamp!
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              Passing our selection process is an acknowledgment of your acquired knowledge and skills. This is the beginning of your journey on the path to becoming a professional UI/UX designer, and we are ecstatic to begin this long endeavor together.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              Your Orientation Day will take place on {{orientationDate}} {{orientationInfo}}. Please find the schedule below:
                            </p>
                            <ul
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                                padding-left: 20px;
                              '
                            >
                              <li>Student journey and logistics - 9:30 - 10:30 am</li>
                              <li>Contract and regulations discussion - 11:00 - 1:00 pm</li>
                              <li>Introduction to Soft Skills & Career readiness - 1:30 - 2:30 pm</li>
                              <li>Introduction to the bootcamp and curriculum - 3:00 - 4:00 pm</li>
                            </ul>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              Kindly note that attendance at the Orientation day is mandatory to proceed in the boot camp.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              Official classes will debut on {{classDebutDate}} online, via google classrooms.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              A confirmation via this form: <a href='{{statusConfirmationForm}}' style='color: rgb(251, 80, 142); text-decoration: none;'>{{statusConfirmationForm}}</a> is required by {{submissionConfirmationDate}}. No confirmation will be considered as no longer interested and your name will be replaced by candidates from the waiting list.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              Please before confirming your participation, make sure that you understand the importance and that you are aware of the following:
                            </p>
                            <ul
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                                padding-left: 20px;
                              '
                            >
                              <li>Committing part-time to the Bootcamp is a requirement, every day from Monday to Friday, 9 weeks.</li>
                              <li>Dropouts from the Bootcamp are not allowed after confirming your participation and debuting the Bootcamp due to the very limited spots available.</li>
                              <li>To be able to commit to a full-time job as a UI/UX designer or any other relevant position if and after you graduate the UIX bootcamp.</li>
                              <li>Having a good working laptop or PC is a must.</li>
                            </ul>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              Admission requirements and an orientation kit will be sent to you as soon as we add you to the slack channel, after the orientation to complete your enrollment process.
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 14px;
                                line-height: 24px;
                                margin: 16px 0;
                              '
                            >
                              On that note, welcome to Lebanon's top tech community! Please don't hesitate to contact us if you have any additional inquiries.
                            </p>
                            <p
                              style='
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                margin: 0;
                              '
                            >
                              Looking forward to having you onboard :-)
                            </p>
                            <p
                              style='
                                color: #a5a6a9;
                                font-size: 12px;
                                line-height: 18px;
                                margin-top: 12px;
                              '
                            >
                              <em>SEF team</em>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style='height: 20px'>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
